In [1]:
import pyodbc # can be used for oracle and sql server
import pandas as pd

In [2]:
# FOR ORACLE DB

server = '//localhost:1521/xe' 
database = 'ARPIT-TEST' 
username = 'ARPIT' 
password = 'ARPIT' 
cnxn = pyodbc.connect('DRIVER={Oracle in XE};DBQ='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

# FOR SQL SERVER
#cnxn = pyodbc.connect('DRIVER={SQL SERVER};DBQ='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

In [4]:
cursor.execute('select * from departments')
for result in cursor:
    print (result)

(Decimal('10'), 'Administration', Decimal('200'), Decimal('1700'))
(Decimal('20'), 'Marketing', Decimal('201'), Decimal('1800'))
(Decimal('30'), 'Purchasing', Decimal('114'), Decimal('1700'))
(Decimal('40'), 'Human Resources', Decimal('203'), Decimal('2400'))
(Decimal('50'), 'Shipping', Decimal('121'), Decimal('1500'))
(Decimal('60'), 'IT', Decimal('103'), Decimal('1400'))
(Decimal('70'), 'Public Relations', Decimal('204'), Decimal('2700'))
(Decimal('80'), 'Sales', Decimal('145'), Decimal('2500'))
(Decimal('90'), 'Executive', Decimal('100'), Decimal('1700'))
(Decimal('100'), 'Finance', Decimal('108'), Decimal('1700'))
(Decimal('110'), 'Accounting', Decimal('205'), Decimal('1700'))
(Decimal('120'), 'Treasury', None, Decimal('1700'))
(Decimal('130'), 'Corporate Tax', None, Decimal('1700'))
(Decimal('140'), 'Control And Credit', None, Decimal('1700'))
(Decimal('150'), 'Shareholder Services', None, Decimal('1700'))
(Decimal('160'), 'Benefits', None, Decimal('1700'))
(Decimal('170'), 'Manufacturing', None, Decimal('1700'))
(Decimal('180'), 'Construction', None, Decimal('1700'))
(Decimal('190'), 'Contracting', None, Decimal('1700'))
(Decimal('200'), 'Operations', None, Decimal('1700'))
(Decimal('210'), 'IT Support', None, Decimal('1700'))
(Decimal('220'), 'NOC', None, Decimal('1700'))
(Decimal('230'), 'IT Helpdesk', None, Decimal('1700'))
(Decimal('240'), 'Government Sales', None, Decimal('1700'))
(Decimal('250'), 'Retail Sales', None, Decimal('1700'))
(Decimal('260'), 'Recruiting', None, Decimal('1700'))
(Decimal('270'), 'Payroll', None, Decimal('1700'))

In [48]:
# PACKAGE FOR ORACLE DB
import cx_Oracle

In [52]:
cx_Oracle.connect?

In [58]:
con = cx_Oracle.connect('ARPIT/ARPIT@//localhost:1521/xe')

In [60]:
cur = con.cursor()
cur.execute('select * from departments')
for result in cur:
    print (result)

(10, 'Administration', 200, 1700)
(20, 'Marketing', 201, 1800)
(30, 'Purchasing', 114, 1700)
(40, 'Human Resources', 203, 2400)
(50, 'Shipping', 121, 1500)
(60, 'IT', 103, 1400)
(70, 'Public Relations', 204, 2700)
(80, 'Sales', 145, 2500)
(90, 'Executive', 100, 1700)
(100, 'Finance', 108, 1700)
(110, 'Accounting', 205, 1700)
(120, 'Treasury', None, 1700)
(130, 'Corporate Tax', None, 1700)
(140, 'Control And Credit', None, 1700)
(150, 'Shareholder Services', None, 1700)
(160, 'Benefits', None, 1700)
(170, 'Manufacturing', None, 1700)
(180, 'Construction', None, 1700)
(190, 'Contracting', None, 1700)
(200, 'Operations', None, 1700)
(210, 'IT Support', None, 1700)
(220, 'NOC', None, 1700)
(230, 'IT Helpdesk', None, 1700)
(240, 'Government Sales', None, 1700)
(250, 'Retail Sales', None, 1700)
(260, 'Recruiting', None, 1700)
(270, 'Payroll', None, 1700)

In [6]:
# PACKAGE FOR DB2 
import ibm_db

In [7]:
ibm_db.connect?